<div class="min-h-screen flex items-center justify-center">
  @if (!wrongScreenActive() && !correctScreenActive()) {
    <app-question-screen
      class="w-full"
      [activeQuestion]="activeQuestion()"
      [timer]="questionTimer()"
      [(wrongAnswer)]="wrongScreenActive"
      [(correctAnswer)]="correctScreenActive"
    ></app-question-screen>
  }

  @if (wrongScreenActive()) {
    <app-wrong-answer-screen
      class="w-full"
      [correctAnswer]="lastValidCorrectAnswer"
    ></app-wrong-answer-screen>
  }
  @if (correctScreenActive()) {
    <app-correct-answer-screen class="w-full"></app-correct-answer-screen>
  }
</div>
