<div class="min-h-screen flex items-center justify-center p-4">
  @if (!wrongScreenActive() && !correctScreenActive()) {
    <app-question-screen
      class="w-full max-w-xl"
      [(wrongScreenActive)]="wrongScreenActive"
      [(correctScreenActive)]="correctScreenActive"
    ></app-question-screen>
  }

  @if (wrongScreenActive()) {
    <app-wrong-answer-screen></app-wrong-answer-screen>
  }
  @if (correctScreenActive()) {
    <app-correct-answer-screen></app-correct-answer-screen>
  }
</div>
