<div class="min-h-screen flex items-center justify-center">
  @if (isLoading()) {
    <div class="text-xl font-semibold animate-pulse">Loading game state...</div>
  } @else {
    @if (
      !wrongScreenActive() &&
      !correctScreenActive() &&
      !completeScreenActive() &&
      !gameOverScreenActive()
    ) {
      <app-question-screen
        class="w-full"
        [activeQuestion]="activeQuestion()"
        [questionLength]="questionLength()"
        [timer]="questionTimer()"
      ></app-question-screen>
    }

    @if (wrongScreenActive() && !completeScreenActive() && !gameOverScreenActive()) {
      <app-wrong-answer-screen
        class="w-full"
        [correctAnswer]="lastQuestionCorrectAnswer"
      ></app-wrong-answer-screen>
    }

    @if (correctScreenActive() && !completeScreenActive() && !gameOverScreenActive()) {
      <app-correct-answer-screen
        class="w-full"
        [points]="lastQuestionPoints()"
        [bonusPoints]="lastQuestionBonusPoints()!"
      ></app-correct-answer-screen>
    }

    @if (completeScreenActive()) {
      <app-complete-screen class="w-full"></app-complete-screen>
    }

    @if (gameOverScreenActive()) {
      <app-gameover-screen class="w-full"></app-gameover-screen>
    }
  }
</div>
