<div class="flex items-center gap-4">
  @let config = getRankConfig(medal, player?.score);
  <div [class]="'w-9.5 h-9.5 flex justify-center items-center rounded-full ' + config.bg">
    {{ config.content }}
  </div>

  <div class="flex items-center gap-4 flex-1">
    <app-avatar [player]="player" [showName]="false"></app-avatar>
    <div>
      <p class="text-sm font-medium">{{ player?.name }}</p>
      <app-player-status-chip [status]="player?.status" [textOnly]="true"></app-player-status-chip>
    </div>

    <div [class]="'flex gap-1 ml-auto ' + config.text">
      <span class="font-bold leading-none">{{ player?.score }}</span>
      <span class="text-xs self-end">pts</span>
    </div>
  </div>
</div>
