p-chip.waiting {
  background: var(--color-blue-500) !important;
}

p-chip.thinking {
  background: var(--color-amber-500) !important;
}

p-chip.answered {
  background: var(--color-lime-500) !important;
}

p-chip.correct,
p-chip.completed {
  background: var(--color-green-600) !important;
}

p-chip.wrong {
  background: var(--color-red-600) !important;
}

p-chip.offline {
  background: var(--color-red-900) !important;
}

p-chip.unknown {
  background: var(--color-slate-700) !important;
}

p-chip.text-only {
  background: transparent !important;
}

p-chip.text-only span {
  padding: 0;
}

p-chip.waiting.text-only {
  color: var(--color-blue-500);
}

p-chip.thinking.text-only {
  color: var(--color-amber-500);
}

p-chip.answered.text-only {
  color: var(--color-lime-500);
}

p-chip.correct.text-only,
p-chip.completed.text-only {
  color: var(--color-green-600);
}

p-chip.wrong.text-only {
  color: var(--color-red-600);
}

p-chip.offline.text-only {
  color: var(--color-red-900);
}

p-chip.unknown.text-only {
  color: var(--color-slate-400);
}
