p-chip.waiting {
  background: var(--color-blue-500) !important;
}

p-chip.thinking {
  background: var(--color-amber-500) !important;
}

p-chip.answered {
  background: var(--color-green-600) !important;
}

p-chip.offline {
  background: var(--color-red-500) !important;
}

p-chip.unknown {
  background: var(--color-slate-700) !important;
}

p-chip.text-only {
  background: transparent !important;
}

p-chip.text-only span {
  padding: 0;
}

p-chip.waiting.text-only {
  color: var(--color-blue-500);
}

p-chip.thinking.text-only {
  color: var(--color-amber-500);
}

p-chip.answered.text-only {
  color: var(--color-green-600);
}

p-chip.offline.text-only {
  color: var(--color-red-500);
}

p-chip.unknown.text-only {
  color: var(--color-slate-400);
}
