<div class="card flex justify-center">
  <p-stepper [value]="1" class="basis-200">
    <p-step-panels>
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
          <app-room-step (nextStep)="activateCallback($event)"></app-room-step>
        </ng-template>
      </p-step-panel>
      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <app-player-name-step></app-player-name-step>
        </ng-template>
      </p-step-panel>
      <p-step-panel [value]="3">
        <ng-template #content let-activateCallback="activateCallback"> </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>
</div>
