<div class="card flex justify-center">
  <p-stepper [value]="currentStep" class="basis-200">
    <p-step-panels>
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
          <app-room-step (nextStep)="activateCallback($event)"></app-room-step>
        </ng-template>
      </p-step-panel>
      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <app-player-name-step (nextStep)="activateCallback($event)"></app-player-name-step>
        </ng-template>
      </p-step-panel>
      <p-step-panel [value]="3">
        <ng-template #content let-isActive="active">
          @if (isActive) {
            <app-lobby-step></app-lobby-step>
          }
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>
</div>
