<div
  class="avatar-item"
  [ngClass]="{
    'flex-row! gap-4!': horizontal,
  }"
>
  <div
    class="avatar-bubble"
    [style.background]="hasEmoji ? null : avatarColor"
    [ngClass]="{
      'rainbow-background': hasEmoji,
    }"
  >
    {{ playerInitial }}
  </div>

  @if (showName()) {
    <div class="flex gap-4">
      <span class="player-name">{{ player()?.name }}</span>
      @if (showStar()) {
        <svg lucideStar color="oklch(82.8% 0.189 84.429)" fill="oklch(82.8% 0.189 84.429)"></svg>
      }
    </div>
  }
</div>
