:host ::ng-deep app-avatar .avatar-bubble {
  height: 38px;
  width: 38px;
}

.player-status.waiting {
  background-color: var(--color-blue-100);
}

.player-status.thinking {
  background-color: var(--color-amber-100);
}

.player-status.answered {
  background-color: var(--color-lime-100);
}

.player-status.correct,
.player-status.completed {
  background-color: var(--color-green-100);
}

.player-status.wrong {
  background-color: var(--color-red-100);
}

.player-status.offline {
  background-color: var(--color-red-100);
}

.player-status.unknown {
  background-color: var(--color-slate-800);
  color: #fff;
}
