:host ::ng-deep p-toast .p-toast-message {
  background-color: rgba(30, 41, 59, 0.6) !important; /* Tailwind's slate-800 with 60% opacity */
  border: none !important; /* Remove default border */
}

:host ::ng-deep p-button.join-button .p-button {
  width: 100%;
  background-color: #1e40af;
  /*Tailwind'sblue-800*/
  color: white;
  font-weight: 600;
  padding: 0.75rem;
  /*12px*/
  border-radius: 0.5rem;
  /*16px*/
  transition: all 0.2s;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border: none;
}
