<p-card>
  <ng-template #title>
    <div class="flex gap-2 items-center justify-between">
      <div class="flex gap-4">
        <div class="bg-blue-600 h-11.5 w-11.5 rounded-xl flex justify-center items-center">
          <i class="pi pi-question-circle text-xl!"></i>
        </div>
        <div>
          <p>Current Question</p>
          <p class="text-xs text-slate-400">
            Question {{ questionNumber }} of {{ questionLength() }}
          </p>
        </div>
      </div>
      @if (isGameStarted) {
        <p-chip class="px-0! py-0! w-15">
          <span
            class="bg-primary text-primary-contrast rounded-full h-8 w-full flex items-center justify-center gap-2"
          >
            <span class="animate-pulse bg-red-600 w-2 h-2 rounded-full inline-block"></span>
            <span class="text-sm">Live</span>
          </span>
        </p-chip>
      }
    </div>
  </ng-template>
  <p-divider />
  <div class="flex mb-5 gap-2">
    <p-chip class="px-0! py-0! w-10">
      <div class="bg-blue-600 rounded-full h-8 w-full flex items-center justify-center">
        <span class="text-sm font-bold"> Q{{ questionNumber }} </span>
      </div>
    </p-chip>
    <p-chip class="px-0! py-0!">
      <div class="bg-blue-600 p-4 rounded-xl h-8 w-full flex items-center justify-center">
        <span class="text-sm font-bold"> {{ questionCategory }} </span>
      </div>
    </p-chip>
    <p-chip class="flex ml-auto justify-center">
      <i class="pi pi-clock"></i>
      <span class="text-sm"> {{ questionTimer() }}s </span>
    </p-chip>
  </div>
  <div class="flex flex-col">
    <p class="text-xl mb-5 select-none">
      {{ currentQuestion()?.text }}
    </p>
    <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-3 mb-6">
      @for (option of currentQuestion()?.options; track $index; let i = $index) {
        <app-question-option-button
          [option]="option"
          [index]="i"
          [isCorrect]="i === currentQuestion()?.correctIndex"
          [isRevealed]="true"
          class="cursor-pointer"
        ></app-question-option-button>
      }
    </div>
    @if (isGameStarted && questionTimer() == 0) {
      <p-button
        severity="info"
        (click)="nextQuestion.emit()"
        class="self-end"
        icon
        [pt]="{
          root: {
            style: 'bg-blue-600',
          },
        }"
        [loading]="isProcessing()"
      >
        <span pButtonLabel>Next question</span>
        <i class="pi pi-chevron-right"></i>
      </p-button>
    }
  </div>
</p-card>
